footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer svg {
    position: fixed;
    bottom: 0;
}

footer svg path {
    fill: url(#myGradient);
}

.stop1 { 
    stop-color: rgba(255, 255, 255, 1); 
}
.stop2 { 
    stop-color: rgba(255, 255, 255, 0.9); 
}


@media (prefers-color-scheme: dark) {
    .stop1 { 
        stop-color: rgba(255, 255, 255, 0.8); 
    }
    .stop2 { 
        stop-color: rgba(255, 255, 255, 0.6); 
    }
}

@media (prefers-color-scheme: light) {
    .stop1 { 
        stop-color: rgba(255, 255, 255, 0.8); 
    }
    .stop2 { 
        stop-color: rgba(255, 255, 255, 0.6); 
    }
}

@media (min-width: 500px) {
    footer svg {
        height: 100px;
    }
}